/*
 *
 * COMPASS IMPORTS
 *
 */
 
//@import "compass/reset"	skeleton has its own reset
@import "compass/css3"
@import "compass/utilities"
@import "respond-to"

/*
 *
 * GLOBAL VARIABLES OH YES 
 *
 */
 

$font-family: 'Open Sans', "Helvetica", "Arial" sans-serif
$font-size: 13px
$gutter: 20px


/*
 *
 * IMAGES STUFF
 *
 */
 
$image-dir: '../../images/'
$placeholder-url: 'http://placehold.it/'


// usage:
// +background('your-image-here.jpg')
@mixin background($image)
  background:
    image: url(#{$image-dir}#{$image})

// usage:
// +placeholder('300x300')
@mixin placeholder($image)
  background:
    image: url(#{$placeholder-url}#{$image})


/*
 *
 * COLOURS
 *
 */

$white: #fff
$black: #000
$grey: #ccc


/*
 *
 * HANDY
 *
 */
 

=die
  display: none
=red
  background: red !important
=centre
  margin: 0 auto

body:before
  +die
  position: absolute
  top: 0
  left: 0
  padding: 5px
  background-color: red
  +opacity(0.5)
  +respond-to(handhelds)
    content: "Handheld"
  +respond-to(wide-handhelds)
    content: "Wide Handheld"
  +respond-to(tablets)
    content: "Tablet"
  +respond-to(desktops)
    content: "Desktop"


/*
 *
 * GLOBAL
 *
 */

body
  font-family: $font-family