/* Import all the goodies */
/* COLOURS */
/* MISC */
body {
  font-family: "Open Sans", "Helvetica", "Arial" sans-serif;
  font-size: 13px;
}

/*
 * TOOLS
 *
 */
body:before {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background-color: red;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
@media only screen and (max-width: 479px) {
  body:before {
    content: "Handheld";
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body:before {
    content: "Wide Handheld";
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  body:before {
    content: "Tablet";
  }
}
@media only screen and (min-width: 960px) {
  body:before {
    content: "Desktop";
  }
}
